{{- if .Values.postgres.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mautrix-telegram.postgresFullname" . }}
  labels:
    {{- include "mautrix-telegram.componentLabels" (dict "context" . "component" "postgres") | nindent 4 }}
spec:
  serviceName: {{ include "mautrix-telegram.postgresFullname" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "mautrix-telegram.componentSelectorLabels" (dict "context" . "component" "postgres") | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "mautrix-telegram.componentSelectorLabels" (dict "context" . "component" "postgres") | nindent 8 }}
    spec:
      containers:
        - name: postgres
          image: {{ include "mautrix-telegram.postgresImage" . }}
          imagePullPolicy: {{ .Values.postgres.image.pullPolicy }}
          env:
            - name: POSTGRES_DB
              value: {{ .Values.database.name | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.database.user | quote }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "mautrix-telegram.postgresFullname" . }}
                  key: password
          ports:
            - name: postgres
              containerPort: {{ .Values.postgres.service.port }}
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
          {{- with .Values.postgres.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if not .Values.postgres.persistence.enabled }}
      volumes:
        - name: data
          emptyDir: {}
      {{- end }}
  {{- if .Values.postgres.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - {{ .Values.postgres.persistence.accessMode }}
        resources:
          requests:
            storage: {{ .Values.postgres.persistence.size }}
        {{- if .Values.postgres.persistence.storageClassName }}
        storageClassName: {{ .Values.postgres.persistence.storageClassName }}
        {{- end }}
  {{- end }}
{{- end }}
