#      .
#     / V\
#   / `  /
#  <<   |    Deployment YAML to deploy ntfy.
#  /    |    Make sure to update the `base-url` and `visitor-request-limit-exempt-hosts`
#

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ntfy
data:
  server.yml: |
    # ntfy configuration
    base-url: https://ntfy.example.com
    
    # Allow Matrix server to publish to UnifiedPush topics
    # See UnifiedPush documentation:
    # - https://docs.ntfy.sh/config/#example-unifiedpush
    # - https://docs.ntfy.sh/config/#acl-entries-via-the-config
    auth-access:
      - "*:up*:wo"

    # Permit Matrix server to bypass rate limits
    # See Rate limiting documentation:
    # - https://docs.ntfy.sh/config/#rate-limiting
    visitor-request-limit-exempt-hosts:
      - "matrix.example.com"
    
    # Indicate that ntfy is running behind a reverse proxy
    # See Proxy documentation:
    # - https://docs.ntfy.sh/config/#behind-a-proxy-tls-etc
    behind-proxy: true
---
apiVersion: v1
kind: Service
metadata:
  name: ntfy
spec:
  selector:
    app: ntfy
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ntfy
spec:
  serviceName: ntfy
  replicas: 1
  selector:
    matchLabels:
      app: ntfy
  template:
    metadata:
      labels:
        app: ntfy
    spec:
      containers:
        - name: ntfy
          image: binwiederhier/ntfy
          args: ["serve", "--cache-file", "/var/cache/ntfy/cache.db"]
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: config
              mountPath: "/etc/ntfy"
              readOnly: true
            - name: cache
              mountPath: "/var/cache/ntfy"
      volumes:
        - name: config
          configMap:
            name: ntfy
  volumeClaimTemplates:
    - metadata:
        name: cache
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ntfy-ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: traefik
  rules:
    - host: ntfy.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ntfy
                port:
                  number: 80
  tls:
    - hosts:
        - ntfy.example.com
      secretName: ntfy-tls